#parse("/WEB-INF/vm/common/debug.vm")
<!DOCTYPE HTML>
<html>
<head>
    <title id="title">
    </title>
    #parse("/WEB-INF/vm/common/head.vm")
    <link href="/style/${flyContext.viewConfig.viewArticleCss}" rel="stylesheet" type="text/css"/>
    <script language="javascript">
        //验证审核意见
        function check() {
            var appendPre = $("#appendPre").val();
            if (appendPre == '') {
                alert("追加内容不能为空!");
                return false;
            }
            return true;
        }
    </script>
</head>
<body>

<main id="mainDiv">
    #parse("/WEB-INF/vm/common/menu.vm")
    #if(!${clientConfig.fullScreen})
        <table style="border-color: transparent;table-layout: fixed;margin: 0 0;" width="100%">
            <tr>
                <td style="border-color: transparent;vertical-align:top;word-wrap:break-word;font-size: 0.8em; margin: 0 0;"
                    width="250px">


                    #parse("/WEB-INF/vm/common/dtree.vm")
                </td>
                <td style="vertical-align:top;border-color: transparent">
                    <div class="graySecondFont" style="float: right">

                    </div>
                    #parse("/WEB-INF/vm/article/viewArticle_1.vm")
                </td>
            </tr>
        </table>
    #else

        #parse("/WEB-INF/vm/article/viewArticle_1.vm")
    #end

    <script type="text/javascript">
            #if(!${clientConfig.fullScreen})

            d.openAll();
            #end

        function AddImgClickEvent() {
            var objs = document.getElementsByTagName("img");
            for (var i = 0; i < objs.length; i++) {
                objs[i].onclick = function () {
                    window.open(this.src);
                }
                objs[i].style.cursor = "pointer";
                if (objs[i].width > 800) {
                    objs[i].height = 800 / objs[i].width * objs[i].height;
                    objs[i].width = 800;

                }
            }
        }

        AddImgClickEvent();

    </script>
</main>
</body>
</html>

