<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">

    <bean id="deployService" class="fnote.deploy.service.DeployServiceImpl">
        <property name="userRepository" ref="userRepositoryFile"></property>
        <property name="userService" ref="userService"></property>
        <property name="pathService" ref="pathService"></property>
    </bean>
    <bean id="manual" class="flynote.application.manual.ManualByFile"></bean>

</beans>

