<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">
    <bean id="userService" class="fnote.user.domain.service.UserServiceImpl">
        <property name="defaultUserArticlePwd" value="${defaultUserArticlePwd}"></property>
        <property name="userRepository" ref="userRepositoryFile"></property>
    </bean>

    <bean id="loginLimitRate" class="fly4j.common.cache.impl.LimitRateImpl">
        <constructor-arg name="flyCache">
            <bean class="fly4j.common.cache.impl.FlyCacheJVM"></bean>
        </constructor-arg>
        <constructor-arg name="time" value="20"></constructor-arg>
        <constructor-arg name="limitNum" value="20"></constructor-arg>
    </bean>


</beans>

