#parse("/WEB-INF/vm/common/debug.vm")
<!DOCTYPE HTML>
<html>
<head>
    #parse("/WEB-INF/vm/common/head.vm")
    <link href="/style/${flyContext.viewConfig.viewArticleCss}" rel="stylesheet" type="text/css"/>
    <script language="javascript">
        //验证审核意见
        function check() {
            var appendPre = $("#appendPre").val();
            if (appendPre == '') {
                alert("追加内容不能为空!");
                return false;
            }
            return true;
        }

    </script>
</head>
<body>

<main id="mainDiv">
    <div id="articleVue">
        #parse("/WEB-INF/vm/common/menu.vm")
        <div class="titleFont">
            <ul class="titleFont">
                #foreach($item in ${menu.downMenuItems})
                    <li >
                        <a class="nav-link" h href="$!{item.href}"> $!{item.title}</a>
                    </li>
                #end
            </ul>
        </div>
    </div>
</main>
</body>
</html>
