#parse("/WEB-INF/vm/common/debug.vm")
<!DOCTYPE HTML>
<html>
<head>
    #parse("/WEB-INF/vm/common/head.vm")
    <link href="/style/${flyContext.viewConfig.viewArticleCss}" rel="stylesheet" type="text/css"/>
    <script language="javascript">
        //验证审核意见
        function check() {
            var appendPre = $("#appendPre").val();
            if (appendPre == '') {
                alert("追加内容不能为空!");
                return false;
            }
            return true;
        }

    </script>
</head>
<body>

<main id="mainDiv">
    <div id="articleVue">
        #parse("/WEB-INF/vm/common/menu.vm")
        <div class="titleFont">
            <ul class="titleFont">
                <li v-for="item in menu.sitemapItems">
                    <a class="nav-link" v-bind:href="item.href"> {{ item.title }}</a>
                </li>
            </ul>
        </div>
    </div>
</main>
</body>
</html>
<script type="text/javascript">

    const app = {
        data() {
            return {
                menu: ''
            }
        },
        mounted() {
            axios.get('/menu/menuJson.do')
                    .then(response => {
                        this.menu = response.data;
                    })
                    .catch(function (error) { // 请求失败处理
                        console.log(error);
                    });
        }
    }
    Vue.createApp(app).mount('#articleVue')
</script>
