<div id="myChartFileNum" style="width: 300px;height:300px;"></div>


<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChartFileNum = echarts.init(document.getElementById('myChartFileNum'));

    myChartFileNum.setOption({
        title: {
            text: '文件数量'
        },
        series: [
            {
                name: '文件数量$!{siteStatistic.fileNumSize}',
                type: 'pie',    // 设置图表类型为饼图
                radius: '55%',  // 饼图的半径，外半径为可视区尺寸（容器高宽中较小一项）的 55% 长度。
                data: [          // 数据数组，name 为数据项名称，value 为数据项值
                    {value:$!{siteStatistic.articlesSize}, name: '文章$!{siteStatistic.articlesSize}'},
                    {value:$!{siteStatistic.fileNumImg}, name: '图片$!{siteStatistic.fileNumImg}'},
                    {value:$!{siteStatistic.fileNumOther}, name: '文件$!{siteStatistic.fileNumOther}'}
                ]
            }
        ]
    })
</script>
