<div id="myChartArticleLength" style="width: 300px;height:300px;"></div>


<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChartArticleLength = echarts.init(document.getElementById('myChartArticleLength'));

    myChartArticleLength.setOption({
        title: {
            text: '文章长度分析'
        },
        xAxis: {
            data: [$!{articleLengthGram.x}]
        },
        yAxis: {},
        series: [{
            name: '数量',
            type: 'bar',
            data: [$!{articleLengthGram.y}],
            itemStyle: {        //上方显示数值
                normal: {
                    label: {
                        show: true, //开启显示
                        position: 'top', //在上方显示
                        textStyle: { //数值样式
                            color: 'black',
                            fontSize: 16
                        }
                    }
                }
            }
        }]
    })
</script>
