<div id="myChartMaturity" style="width: 600px;height:300px;"></div>


<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChartArticleMaturity = echarts.init(document.getElementById('myChartMaturity'));

    myChartArticleMaturity.setOption({
        title: {
            text: '成熟度分析'
        },
        xAxis: {
            data: [$!{maturityGram.x}]
        },
        yAxis: {},
        series: [{
            name: '成熟度',
            type: 'bar',
            data: [$!{maturityGram.y}],
            itemStyle: {        //上方显示数值
                normal: {
                    label: {
                        show: true, //开启显示
                        position: 'top', //在上方显示
                        textStyle: { //数值样式
                            color: 'black',
                            fontSize: 16
                        }
                    }
                }
            }
        }]
    })
    myChartArticleMaturity.on('click',function(e){
        window.open("/article/articles.do?buId=lastEdit&maturity="+ e.name);
    });
</script>
